
<div *ngIf="showWellcome" class="container d-flex justify-content-center mt-4 mb-4">
  <div>
    <h3>Comité de Empresa ECI Ademuz - Nuevo Centro </h3>
    <br />
      <p>En primer lugar, esperamos desde el Comité de Empresa de Ademuz - Nuevo Centro que tanto tú como tus familiares y seres queridos estéis bien de salud.</p>
      <p>Una de las medidas importantes para la vuelta a la actividad es facilitar la movilidad de todo el personal, y para ello nuestro Comité de Empresa tiene como cometido negociar plazas de aparcamiento cercanas al centro de trabajo a un precio lo más reducido posible.</p>
      <p>Para facilitar la negociación y que las diferentes empresas nos hagan sus ofertas, te pedimos que rellenes esta breve encuesta con la mayor sinceridad posible y sabiendo que cumplimentar esta encuesta <b> NO TE OBLIGA A NADA.</b></p>
      <hr class="my-4">
      <p>Enviemos sólo una encuesta por empleado.</p>

      <div class="row mt-3 mt-3 justify-content-center">
        <p class="lead">
          <a class="btn btn-dark btn-lg"  href="#" role="button"  *ngIf="showStartButton" (click)="showIdentifyPage()">Continuar</a>
        </p>
      </div>
  </div>
</div>

<div *ngIf="showIdentify" class="container d-flex justify-content-center mt-4 mb-4">
  <div class="container">
    <div class="row" style="position:relative; width:225px; margin: auto;">
      <p style="position:absolute; top:80px; left:10px; right: 10px; text-align: center; font-size:.8em"><b>{{clientId}}</b></p>
      <img src="../assets/tarjetaECI2.png" width="100%"  class="align-middle"  style="max-width: 300px;margin: auto;" alt="">
    </div>
    <div class="row mt-3 mt-3">
      <p>Introduce tu número de empleado:</p>
      <input type="number" class="form-control" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon2" (keyup)="onKey($event)">
    </div>
    <div class="row mt-3 mt-3 justify-content-center">
      <p class="lead">
        <a class="btn btn-dark btn-lg" [ngClass]="{'disabled': !validClientId }"  href="#" role="button" (click)="showParkingQuestionPage()">Continuar</a>
      </p>
    </div>
  </div>
</div>

<div *ngIf="showParkingQuestion" class="container d-flex justify-content-center mt-4 mb-4">
  <div class="container">
    <div class="row">
      <img src="../assets/parking.png" width="100%"  class="align-middle"  style="max-width: 150px;margin: auto; border: 2px solid #001c7d;"alt="">
    </div>
    <div class="row mt-3 mt-3">
      <p>Marca el precio más alto por el que harías uso del parking en el caso de que fuera ese el ofertado para el personal de El Corte Inglés:</p>
    </div>
    <div class="row mt-3 mb-3">
      <div class="row">
        <div class="form-check" *ngFor="let price of priceOptions; let i = index" style="display:flex;justify-content: center; width:60%; margin:auto">
          <input class="form-check-input" type="radio" name="parkingRadios" id="parkingRadios{{i}}" (value)="price" (change)="onItemChange(price)">
          <label class="form-check-label" for="parkingRadios{{i}}">
            &nbsp;&nbsp;
            {{price}} €
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3 mt-3 justify-content-center">
      <p class="lead">
        <a class="btn btn-dark btn-lg"  [ngClass]="{'disabled': !selectedPrice }" href="#" role="button" (click)="showEndPage()">Finalizar</a>
      </p>
    </div>
  </div>
</div>
  
  
<div *ngIf="showEnd" class="container d-flex justify-content-center mt-4 mb-4">
  <div class="">
    <h1>Gracias</h1>
    <br />
    <p class="lead">Agradecemos tu participación y recuerda que rellenar esta encuesta no te compromete a nada. Se trata de tener una estimación para negociar con las empresas.
      <br >Recibe un cordial saludo,</p>
      <hr class="my-4">
      <p>Comité de Empresa Ademuz - Nuevo Centro.</p>
  </div>
</div>
  
  
  <div *ngIf="showIdentify2" class="container d-flex justify-content-center  mt-4 mb-4">
    <div *ngFor="let question of poll.questions">
      <div class="card" style="max-width: 350px;"  *ngIf="visibleQuestion === question.id">
        <img class="card-img-top" src="{{question.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <p class="card-text">{{question.description}}</p>
        </div>
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" 
            *ngFor="let answer of question.answers; index as i;" 
            id="{{'answer-' + i}}" 
            data-toggle="list" 
            href="#" 
            role="tab" 
            aria-controls="home"
            (click) = "nextQuestion(i)">
            {{answer}}
          </a>
        </div>
      </div>
    </div>
  </div>
