 <!-- <div style="position:fixed; top:0; left:0; bottom:0; right:0" style="background: linear-gradient(45deg, #e8e8e8, white);"></div>
 -->
<div style="min-height: 100vh;background: linear-gradient(45deg, #e8e8e8, white);" >
  <nav class="navbar navbar-light" style=" background-color: #bc9ea0;">
    <a class="navbar-brand" href="#" style="margin: auto;">
      <img src="../assets/fasgaLogo.png" width="60"  class="d-inline-block align-middle mr-3"  alt="">
      <img src="../assets/feticoLogo.png" width="60"  class="d-inline-block align-middle mr-3"  alt="">
      <img src="../assets/ugtLogo.png" width="60"  class="d-inline-block align-middle mr-3"  alt="">
      <img src="../assets/cenaLogo.png" width="60"  class="d-inline-block align-middle mr-3"  alt="">
    </a>
  </nav>
<div style="min-height: calc(100vh - 60px);">

  <router-outlet></router-outlet>
</div>

  <footer class="footer">
    <div class="container" style="min-width: 100vw">
      <span class="text-black-50 footerText">Made with <fa-icon class="text-danger" [icon]="faHeart"></fa-icon> by ROAM</span>
    </div>
  </footer>
</div>
